/* ROOT */

@font-face {
  font-family: "seagram";
  src: url(fonts/seagram.ttf);
}

:root {
  --wood: #B99470;
  --cream: #FEFAE0;
  --green: #A6B37D;
  --light-green: #C0C78C;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--cream);
  overflow: auto;
  height: 100vh;
}

.container {
  position: relative;
  min-height: 100vh;
}

/* HEADER */

header {
  height: 70px;
  padding: 1%;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)),
  url(images/wood-texture.jpg);
  background-position: center;
  background-size: cover;
  color: var(--cream);
  font-family: "seagram";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 30px;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-book {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add {
  background-color: var(--light-green);
  color: var(--cream);
  border: 2px solid var(--cream);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-weight: bold;
}

.add:hover {
  transform: scale(1.2);
  color: var(--green);
  background-color: var(--cream);
  border: 2px solid var(--green);
}

/* MAIN */

.main {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
}

.book-card {
  position: relative;
  margin: 20px;
  width: 210px;
  height: 350px;
  background-color: var(--wood);
  border-radius: 3px;
  box-shadow:
    rgba(255, 255, 255, 0.9) 1px 1px,
    rgba(255, 255, 255, 0.7) 2px 2px,
    rgba(255, 255, 255, 0.5) 4px 4px,
    rgba(255, 255, 255, 0.3) 8px 8px,
    rgba(166, 133, 100, 1) 11px 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}

.book-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0%, 30%);
  width: 20px;
  height: 10%;
  background: linear-gradient(
    to right,
    rgba(122, 87, 52, 0.9),
    rgba(196, 150, 105, 0.6)
  );
  border-radius: 0 0 0 15px;
  z-index: -1;
}

.delete {
  position: absolute;
  margin-top: 250px;
  margin-left: -145px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cream);
  border: 1px solid var(--cream);
  background-color: var(--wood);
  border-radius: 50%;
  font-weight: 800;
}

.modify {
  position: absolute;
  margin-top: 250px;
  margin-left: 145px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cream);
  border: 1px solid var(--cream);
  background-color: var(--wood);
  border-radius: 50%;
  font-weight: 800;
}

.delete:hover, .modify:hover {
  border: 1px solid var(--wood);
  background-color: var(--cream);
  color: var(--wood);
}

.book-cover img {
  width: 180px;
  margin-top: 10px;
  border: 1px solid var(--green);
  border-radius: 3px;
}

.book-info {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.main-info, .sub-infos {
  text-align: center;
  color: white;
}

.sub-infos {
  color: var(--cream);
}

.title, .author, .pages, .read-status {
  margin: 0
}

/* ADD BOOK FORM */
.form-container {
  position: fixed;
  top: 35%;
  left: 40%;
  background-color: var(--green);
  padding: 20px;
  border: 3px solid var(--light-green);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  transform: scale(0);
  transition: 0.5s;
}

.visible {
  transform: scale(1);
}

.close {
  color: white;
  border: 2px solid white;
  background-color: var(--wood);
  border-radius: 50%;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  margin: 0;
  margin-left: 90%;
  width: 20px;
  height: 20px;
}

.close:hover {
  transform: scale(1.2);
  background-color: white;
  color: var(--wood);
  border: 2px solid var(--wood);
}

.form-container h2 {
  color: white;
  text-align: center;
  font-family: "seagram";
  margin-top: 0;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container input, select {
  border: 1px solid var(--wood);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

#addBookForm button {
  border: 2px solid white;
  border-radius: 15px;
  background-color: var(--wood);
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

#addBookForm button:hover {
  transform: scale(1.2);
  background-color: white;
  color: var(--wood);
  border: 2px solid var(--wood);
}

/* FOOTER */

footer {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  margin: 0;
  margin-top: auto;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)),
  url(images/wood-texture.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--cream);
  font-family: "seagram", Helvetica, sans-serif;
  font-size: large;
}

.footer-links a, footer a {
  color: var(--green);
  text-decoration: none;
}

.footer-links i:hover, footer a:hover {
  color: white;
  transform: scale(1.2);
}

.fa-heart, .fa-mug-hot {
  color: var(--green);
}

/* MEDIA QUERY */

@media only screen and (min-width: 768px) {

}
